/* import Google LATO font */
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;1,300");
/* Reset général */
html {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    background-image: url(images/des.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    box-sizing: border-box;
}
body {
    background-color: transparent;
    font-family: "Lato", sans-serif;
    font-size: 1rem;
    margin: 0;
    padding: 0;
}
main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100vw;
    height: 100vh;
}
/* Entete */
.card-home {
    border: none;
    background-color: #6d442e5d;
    border: 1px solid#6D442E;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 5% 2%;
}
.card-header,
.card-body-home {
    padding: 1%;
    border: none;
    width: 70%;
    text-align: center;
}
h1 {
    margin: 1%;
    text-transform: uppercase;
    font-weight: bolder;
}
.card-body-home {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
/* Bouton nouvelle partie */
.btn.btn-light {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    border: none;
    width: 100%;
    text-align: center;
}
.btn.btn-light:hover {
    background-color: #0d6efd;
    color: white;
}
.btn.btn-light p {
    margin: 3%;
}
.bi.bi-plus-circle {
    color: red;
    font-size: 1.5em;
    font-weight: bolder;
    margin: 3%;
}
/* Players*/
.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
}
.player-panel,
.player-panel.active {
    border: 1px solid black;
    border-radius: 5px;
    text-align: center;
    font-size: xx-small;
    margin: 2%;
}
.player-panel {
    background-color: #6d442e5d;
}
.player-panel.active {
    background-color: #5e0001;
}
.player-name {
    font-size: 1.5em;
    font-weight: bold;
    border-bottom: 1px solid black;
    margin: 3%;
}
.card-img-top {
    display: none;
}
.player-score {
    font-size: 1.5em;
    margin: 3%;
}
.player-current-box {
    margin: 5%;
}
.player-current-label {
    font-size: 1.5em;
    color: white;
    border-bottom: 1px solid black;
    padding: 3%;
}
.player-current-score {
    font-size: 1.5em;
    font-weight: bold;
    margin: 3%;
}
/* Image dé */
.img {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 2%;
    width: 30%;
}
.dice {
    width: 80%;
}
/* Boutons en bas */
#roll-btn,
#hold-btn {
    padding: 1%;
    width: 100%;
    margin: 3%;
}
.buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 2%;
}
.bi.bi-bootstrap-reboot,
.bi.bi-box-arrow-in-down {
    margin: 10%;
    font-size: 1.5em;
}
/* Responsive */
@media screen and (min-width: 426px) {
    /* Card players */

    /* Image du joueur */
    .card-img-top {
        display: flex;
        border: 1px solid black;
        border-radius: 0 20%;
        width: 50%;
    }
}
